<html>

<head>
    <title>{{ .Title }}</title>
</head>

<body>
<script type="text/javascript">

    function MakeTransparent2(evt) {
        evt.target.setAttributeNS(null, "opacity", "0.5");
    }

    function MakeOpaque2(evt) {
        evt.target.setAttributeNS(null, "opacity", "1");
    }

</script>

<svg width="4500" height="2050">

    {{ with .Paths }}
        {{ range . }}
            <path d={{ .D }} stroke={{ .Stroke }} stroke-width={{ .StrokeWidth }} fill="none"/>
        {{ end }}
    {{ end }}

    {{ with .Weeks }}
        {{ range . }}
            {{$number := .Number}}
            {{$teams := .Teams}}
            {{ if eq .Number 14 }}
                <text x={{ offset .XPosition -45 }} y="25" fill="black">
                    Conf Championships
                </text>
            {{else if eq .Number 15}}
                <text x={{ offset .XPosition -15 }} y="25" fill="black">
                    Bowl Games
                </text>
            {{else if eq .Number 16}}
                <text x={{ offset .XPosition -15 }} y="25" fill="black">
                    Final Results
                </text>
            {{else }}
                <text x={{ .XPosition }} y="25" fill="black">
                    Week {{ .Number  }}
                </text>
            {{ end }}
            {{ with .Teams }}
                {{ range . }}
                    <image x={{ .Cx }}
                           y={{ .Cy }}
                           width="70"
                           height="70"
                           xlink:href={{ .Image }}>
                        <title role="tooltip">{{ getRecord . $number}}</title>
                    </image>
                    {{$opp := (opponent . $number)}}
                    {{$oppRank := (getRank $opp $teams)}}
                    <image x={{ offset .Cx 100 }}
                           y={{ offset .Cy 20 }}
                           width="40"
                           height="40"
                           onclick="alert({{ getResult . $number }})"
                           xlink:href={{ $opp.Image }}>
                        <title role="tooltip">{{ getResult . $number }}</title>
                    </image>
                    {{ if le $oppRank 25}}
                        {{$stroke := "black"}}
                        {{ if le $oppRank 10}}
                            {{$stroke = "red"}}
                        {{ end }}
                        <circle cx={{ offset .Cx 120 }}
                                cy={{ offset .Cy 40 }}
                                r="29"
                                stroke={{$stroke}}
                                fill="none"/>
                    {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
</svg>

</body>

</html>
